{{#each teams as |team|}}

<ul data-id="{{team.id}}">
  <section data-id="{{team.id}}">
  <li>{{team.id}} | Team:
    {{#if team.name}}
      {{team.name}}
    {{else}}
      No team listed yet.
    {{/if}}
  </li>

  <ul>
    <button type="button" data-id="{{team.id}}" class="clear-team-button">Remove Team</button>
  </ul>

<form class="update-form">
  <input type="text" class="update-team-button"  name="team[name]" required placeholder="Update Name?">
  <button type="submit" data-id="{{team.id}}" class="update-team-button">Update Team</button>
</form>


</ul>

{{/each}}
