{{#each teams as |team|}}

<ul data-id="{{team.id}}">
  <section data-id="{{team.id}}">
  <li>{{team.id}} | Team:
    {{#if team.name}}
      {{team.name}}
    {{else}}
      No team listed yet.
    {{/if}}
  </li>

  <ul>
    <button type="button" data-id="{{team.id}}" class="clear-team-button">Remove Team</button>
  </ul>

  <input>
    <button type="submit" data-id="{{team.id}}" class="update-team-button">Update Team</button>
  </input>

</ul>

{{/each}}
